<div class="container" style="margin-top:150px; text-align:center">
<h1 style="border: 2px solid black; border-radius:20px; padding: 15px;">About the website</h1>
<p style="margin-top: 30px;">
    This is a website for viewing reviews published by the administrator. The review will tell you the book name, rating and thoughts of the reviewer.
    You will also be able to retrieve specific collections of reviews grouped based on the collection's theme. Whether it's genre, publish year, author etc. However, anyone
    visiting the website will be able to comment on each review to project their own thoughts and opinions.
</p>
<p style="margin-top: 20px">
    Integer consequat rhoncus erat quis pharetra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse rhoncus in neque a placerat. 
    Sed molestie odio vel felis scelerisque, a blandit diam dapibus. Nunc eget fermentum tortor, at laoreet justo. Praesent tempus lectus est, et molestie orci congue at. 
    Etiam rutrum turpis sit amet hendrerit congue. Mauris felis nisl, rutrum vitae neque vel, tristique imperdiet nibh. 
    Nulla facilisi. Maecenas non dui nisi. Praesent ac diam sit amet nulla feugiat tempus.
</p>
</div>