<div class="container" id="centerTextContainerBigMargin">
<h1 id="headerBorder">Contact information</h1>

<p class="topMargin20">
    Sed placerat libero nec sapien viverra, ac mollis est tincidunt. Duis condimentum metus nisi, a imperdiet leo semper quis. 
    Curabitur luctus est lectus, non tincidunt nunc tincidunt vitae. 
    Ut tincidunt efficitur facilisis. Proin feugiat nisi at enim gravida sollicitudin. 
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
    Mauris rhoncus tristique condimentum. Pellentesque lectus neque, auctor id efficitur nec, ullamcorper eget mi.
</p>

<p>Phone number: 46-755-557-0</p>

<p>Email: anlu18qp@student.ju.se</p>

</div>